{% extends "base/base.html" %}

{% block content %}
    <main class="main">
        <div class="main__container container">
            <div class="details">
                <div class="details__header">
                    <div class="details__meta">
                        <a href="{% url 'repositories:repository_view' pk=commit.repository.pk %}"
                           class="btn btn_secondary">Вернуться в репозиторий</a>
                        <div class="details__meta-item">
                            <span>{{ commit.message }}</span>
                        </div>
                        <div class="details__meta-item details__meta-item_shadow">
                            Автор: <span>{{ commit.author.username }}</span>
                        </div>
                        <div class="details__meta-item details__meta-item_shadow">
                            Дата: <span>{{ commit.created_at }}</span>
                        </div>
                    </div>
                    <div class="details__buttons">
                        <form action="">
                            <button type="submit" class="btn btn_secondary">Скачать PDF</button>
                        </form>
                        <form action="">
                            <button type="submit" class="btn btn_secondary">Скачать DOCX</button>
                        </form>
                        <form action="">
                            <button type="submit" class="btn btn_primary">Вернуться к версии</button>
                        </form>
                    </div>
                </div>
                <div class="details__content">
                    <div class="details__column">
                        <div class="details__embed">
                            <embed class="repository__embed"
                                   src="{{ commit.get_compare_document }}"
                                   frameborder="0"
                                   type="application/pdf">
                        </embed>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock content %}
