<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap"
              rel="stylesheet">
        <link rel="stylesheet" href="./styles/main.css">
        <title>Document</title>
    </head>
    <body>
        <div class="page page_centered">

            {% include "base/header.html" %}

            <main class="main main_centered">
                <div class="main">
                    <div class="auth-form">
                        <form class="auth-form__form" action="">
                            <div class="auth-form__form-item">
                                <label class="auth-form__label" for="username">Логин</label>
                                <input class="auth-form__input" type="text" name="" id="username">
                            </div>
                            <div class="auth-form__form-item auth-form__form-item_mb_lg">
                                <label class="auth-form__label" for="password">Пароль</label>
                                <input class="auth-form__input" type="password" name="" id="password">
                            </div>
                            <div class="auth-form__form-item auth-form__form-item_mb_lg">
                                <label class="auth-form__label" for="confirm-password">Повторите пароль</label>
                                <input class="auth-form__input"
                                       type="password"
                                       name=""
                                       id="confirm-password">
                            </div>
                            <div class="auth-form__form-item">
                                <button class="auth-form__button btn btn_primary" type="submit">Войти</button>
                            </div>
                        </form>
                    </div>
                </div>
            </main>
        </div>
    </body>
</html>
